In [ ]:
import sys
from pathlib import Path

In [2]:
from collabmem.constants import REPO_ROOT

In [ ]:
tgt = REPO_ROOT / "examples"
if str(tgt) not in sys.path:
    sys.path.append(str(tgt))

In [7]:
from metrics import *

2026-01-01 09:08:51,817 [INFO] collabllm: CollabLLM logging enabled.
2026-01-01 09:08:51,818 [INFO] collabllm: Disable LiteLLM cache and logging by default.

In [9]:
from single_turn_ds import SpiderDatabaseSingleTurn

In [10]:
ds = SpiderDatabaseSingleTurn()

In [12]:
ds[0]

{'prompt': "You must generate the valid SQL query that answers the given user query in natural language.\n\nThe schema of the database you are responding to is as follows:\nCREATE TABLE TV_Channel (\n    id TEXT   PRIMARY KEY,\n    series_name TEXT,\n    Country TEXT,\n    Language TEXT,\n    Content TEXT,\n    Pixel_aspect_ratio_PAR TEXT,\n    Hight_definition_TV TEXT,\n    Pay_per_view_PPV TEXT,\n    Package_Option TEXT,\n    UNIQUE (id)\n);\n\nCREATE TABLE TV_series (\n    id REAL   PRIMARY KEY,\n    Episode TEXT,\n    Air_Date TEXT,\n    Rating TEXT,\n    Share REAL,\n    18_49_Rating_Share TEXT,\n    Viewers_m TEXT,\n    Weekly_Rank REAL,\n    Channel TEXT,\n    UNIQUE (id),\n    FOREIGN KEY (Channel) REFERENCES TV_Channel(id)\n);\n\nCREATE TABLE Cartoon (\n    id REAL   PRIMARY KEY,\n    Title TEXT,\n    Directed_by TEXT,\n    Written_by TEXT,\n    Original_air_date TEXT,\n    Production_code REAL,\n    Channel TEXT,\n    UNIQUE (id),\n    FOREIGN KEY (Channel) REFERENCES TV_Channel(id)\n);\n\nThe user query is:\nwhich countries' tv channels are playing some cartoon written by Todd Casey?\n\nRules:\n- [Single Answer] Produce a single valid SQL query based on the database schema and the user query.\n- [Only SQL] Do not include any other text or comments.\n- [Validity] The SQL query must be valid and executable.\n- [Single Line] Produce your entire response in a single line.",
 'completion': '{"dataset": "spider_database", "task_id": "sharded-spider-val-633-medium", "db_id": "tvshow", "reference_sql": "SELECT T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.written_by  =  \'Todd Casey\'", "spider_difficulty": "medium"}',
 'split': 'test',
 'task_id': 'sharded-spider-val-633-medium',
 'db_id': 'tvshow',
 'schema_sql': 'CREATE TABLE TV_Channel (\n    id TEXT   PRIMARY KEY,\n    series_name TEXT,\n    Country TEXT,\n    Language TEXT,\n    Content TEXT,\n    Pixel_aspect_ratio_PAR TEXT,\n    Hight_definition_TV TEXT,\n    Pay_per_view_PPV TEXT,\n    Package_Option TEXT,\n    UNIQUE (id)\n);\n\nCREATE TABLE TV_series (\n    id REAL   PRIMARY KEY,\n    Episode TEXT,\n    Air_Date TEXT,\n    Rating TEXT,\n    Share REAL,\n    18_49_Rating_Share TEXT,\n    Viewers_m TEXT,\n    Weekly_Rank REAL,\n    Channel TEXT,\n    UNIQUE (id),\n    FOREIGN KEY (Channel) REFERENCES TV_Channel(id)\n);\n\nCREATE TABLE Cartoon (\n    id REAL   PRIMARY KEY,\n    Title TEXT,\n    Directed_by TEXT,\n    Written_by TEXT,\n    Original_air_date TEXT,\n    Production_code REAL,\n    Channel TEXT,\n    UNIQUE (id),\n    FOREIGN KEY (Channel) REFERENCES TV_Channel(id)\n);',
 'reference_sql': "SELECT T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.written_by  =  'Todd Casey'",
 'spider_difficulty': 'medium',
 'system_prompt': 'You are helping a user write SQL queries to a database. If something is not clear, you can ask the user to clarify what they need. The schema for the database being accessed is the following:\n        \nCREATE TABLE TV_Channel (\n    id TEXT   PRIMARY KEY,\n    series_name TEXT,\n    Country TEXT,\n    Language TEXT,\n    Content TEXT,\n    Pixel_aspect_ratio_PAR TEXT,\n    Hight_definition_TV TEXT,\n    Pay_per_view_PPV TEXT,\n    Package_Option TEXT,\n    UNIQUE (id)\n);\n\nCREATE TABLE TV_series (\n    id REAL   PRIMARY KEY,\n    Episode TEXT,\n    Air_Date TEXT,\n    Rating TEXT,\n    Share REAL,\n    18_49_Rating_Share TEXT,\n    Viewers_m TEXT,\n    Weekly_Rank REAL,\n    Channel TEXT,\n    UNIQUE (id),\n    FOREIGN KEY (Channel) REFERENCES TV_Channel(id)\n);\n\nCREATE TABLE Cartoon (\n    id REAL   PRIMARY KEY,\n    Title TEXT,\n    Directed_by TEXT,\n    Written_by TEXT,\n    Original_air_date TEXT,\n    Production_code REAL,\n    Channel TEXT,\n    UNIQUE (id),\n    FOREIGN KEY (Channel) REFERENCES TV_Channel(id)\n);',
 'prompt_mode': 'fully_specified',
 'answer_extraction_strategy': 'prefix_suffix',
 'extraction_requirement': 'Output ONLY a complete executable SQL query (no prose). If you include a code fence, it must contain only the SQL.'}

In [17]:
print(ds[0]["reference_sql"])

SELECT T1.country FROM TV_Channel AS T1 JOIN cartoon AS T2 ON T1.id = T2.Channel WHERE T2.written_by  =  'Todd Casey'

In [13]:
from lic.tasks.database.eval_spider_exec import eval_exec_match

In [15]:
db_dir = REPO_ROOT / "src/lic/data/spider/databases/tvshow"

In [16]:
eval_exec_match(
    db_dir,  # db_dir + "/",  # LiC passes trailing slash
    ds[0]["reference_sql"],
    ds[0]["reference_sql"],
    plug_value=True,
    keep_distinct=False,
    progress_bar_for_each_datapoint=False,
)

1

In [18]:
def db_dir(db_id: str) -> Path:
    return REPO_ROOT / "src/lic/data/spider/databases" / db_id

In [19]:
eval_exec_match(
    db_dir("voter_1"),
    "SELECT contestant_name FROM CONTESTANTS WHERE LOWER(contestant_name) LIKE ''%al%'';",
    'select contestant_name from contestants where contestant_name like "%al%"',
    plug_value=True,
    keep_distinct=False,
    progress_bar_for_each_datapoint=False,
)

1